.Register_Page {
    display: flex;
}
.left-hand-side, .right-hand-side {
    height: 100vh;
    width: 1050px;
}
.left-hand-side {
    float: left;
    background-color: blueviolet;
}
.contents-left {
    flex-direction: row;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 500;
    padding-top: 300px;
    color: white;
}
.right-hand-side {
    float: right;
    background-color:whitesmoke
}
.contents-right {
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 154px;
    padding-left: 50px;
    color: blueviolet;
}
#h3 {
    padding-bottom: 60px;
    padding-left: 180px;
    font-size: 40px;
}
#email-Lable {
    padding-right: 35px;
    font-size: 20px;
}
#email-Input, #password-Input  {
    width: 330px;
    font-size: 15px;
    color: blueviolet;
}
#email-Input:focus, #password-Input:focus  {
    border-color: blueviolet;
}
.passwordDiv {
    padding-top: 40px;
}
#password-Lable  {
    padding-right: 63px;
    font-size: 20px;
}
.submit-Form {
    padding-top: 50px;
    padding-left: 240px;
}
#submit-Form {
    color: whitesmoke;
    background-color: blueviolet;
    width: 150px;
}
#submit-Form:focus {
    background-color: whitesmoke;
    color: blueviolet;
}
.oldUser {
    margin-top: 20px;
    padding-left: 210px;
}
#oldUser {
    color: blueviolet;
}
#oldUser:focus {
    color: black;
}